body{
    margin: 50px;
    background: rgb(255, 255, 255);
    font-family: Arial;
}
.form-container{
    width:400px;
    /* margin:100px ni deer dooroosoo harin auto ni bolohoor zuun baruun towloruulne. */
    margin:100px auto;
    padding: 20px;
    text-align: center;
    background: rgba(239, 121, 180, 0.8);
    background-size: cover;
    /* border-radius ni bulang duguiruuldag. */
    border-radius: 20px;
    /* box-shadow ni suuder. */
    box-shadow: 0 0 30px rgba(3, 2, 3, 0.5); 
}
.social.buttons{
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    text-align: center;
}